# Ignore Gemfile.lock unless needed
Gemfile.lock

# Jekyll cache/build output
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/

# Kubernetes and Docker files
k8/
docker/
Dockerfile
.dockerignore

# OS junk
.DS_Store

#Files to keep out
.github/secrets.yml
.github/dev-only-workflow.yml

